@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn More About Author <a href="https://github.com/ArmeriaWang">My GitHub HomePage</a>.</p>
</div>
